@page "/"

<PageTitle>Home</PageTitle>

<Callout Heading="Important">
    <strong>This Apps Demonstrate how to fetch data from <a href="https://dummyjson.com/" target="_blank">dummyjson - Todos</a>  Todos and show it into Blazor Bootstrap component...</strong>
</Callout>

<Callout Heading="Important">
    <strong>
        Deleting a todo will not delete it into the server.
        It will simulate a DELETE request and will return deleted todo with isDeleted & deletedOn keys
    </strong>
</Callout>

